@import url('https://fonts.googleapis.com/css2?family=Sacramento');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html, 
body {
    height: 100%;
    background: rgb(231,137,204);
    background: linear-gradient(0deg, rgba(231,137,204,1) 0%, rgba(96,42,157,1) 100%);
}

.box-0 {
    text-align: start;
    height:100%;
    padding-top: 15%;
    background: rgb(96,42,157);
    background: linear-gradient(0deg, rgba(96,42,157,1) 0%, rgba(15,7,61,1) 100%)
}

.box-0 h1{
    margin-left: 100px;
    margin-bottom: -0.2em;
    font-family: "Sacramento", cursive;
    font-size: 100px;
    color: white;
}

.box-0 h3{
    margin-left: 300px;
    letter-spacing: 0.3em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    color: white;
}

.box-0 a:hover {
    color:  #f8bdff;
    text-decoration: none;
    text-shadow:0px 0px 30px #f8bdff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.box-0 a {
    color:#b969af;
}

/*
second part
*/

.box-1 {
    text-align: start;
    height:100%;
    padding-top: 15%;
    background: rgb(231,137,204);
    background: linear-gradient(0deg, rgba(231,137,204,1) 0%, rgba(96,42,157,1) 100%);
}

.box-1 h1{
    margin-left: 200px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.box-1 p{
    margin-left: 200px;
}

.sm-bar {
    margin-left: 250px;
}

.sm-bar img {
    max-height: 25%;
    max-width: 25%;
    margin-right: 15%;
}

.headshot {
    margin-left: 50px;
}

.headshot img {
    max-height: 50%; 
    max-width: 50%;
    border-radius: 50%;
}