@import url('https://fonts.googleapis.com/css2?family=Sacramento');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html, 
body {
    height: 100%;
    background: rgb(231, 137, 173);
    background: linear-gradient(180deg, rgb(231, 137, 173) 0%, rgb(255, 188, 126) 100%);
}

.box-0 {
    text-align: start;
    height:100%;
    padding-top: 15%;
    /*background: rgb(96,42,157);
    background: linear-gradient(0deg, rgb(122, 63, 189) 0%, rgb(78, 47, 151) 100%)*/
}

.big-title {
    margin-left: 10%;
    margin-bottom: -0.3em;
    font-family: "Sacramento", cursive;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 20rem;
    color: white;
}

.big-title:hover {
    color:  #f8bdff;
    text-decoration: none;
    text-shadow:0px 0px 30px #f8bdff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;   
}

.box-0 h3{
    margin-left: 25%;
    /*letter-spacing: 0;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5rem;
    color: white;
}

.box-0 a:hover {
    color:  #f8bdff;
    text-decoration: none;
    text-shadow:0px 0px 30px #f8bdff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.box-0 a {
    color:#b969af;
}

/*
second part
*/

.box-1 {
    text-align: start;
    height:100%;
    padding-top: 15%;
    /*background: rgb(231,137,204);
    background: linear-gradient(0deg, rgba(231,137,204,1) 0%, rgb(122, 63, 189)  100%);*/
}

.box-1 h1{
    font-family: 'Open Sans Condensed', sans-serif;
}

.box-1 p{
}

.sm-bar {
}

.icon {
    width: 25px;
    display: inline-block;
    /*margin-right: -20%;*/
}

.headshot {
    margin-left: 50px;
}

.headshot img {
    max-height: 50%; 
    max-width: 50%;
    border-radius: 50%;
}

.btn-nav {
    background-color: white;
    color: rgb(87, 28, 46);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border-radius: 5px;
}