@import url('https://fonts.googleapis.com/css2?family=Sacramento');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html, 
body {
    height: 100%;
    background: rgb(255, 233, 183);
}

p {
    font-size: 14px;
}

.box-0 {
    text-align: start;
    height:100%;
    padding-top: 11%;
    /*background: rgb(96,42,157);
    background: linear-gradient(0deg, rgb(122, 63, 189) 0%, rgb(78, 47, 151) 100%)*/
}

.big-title {
    margin-left: 10%;
    margin-top: 0.2em;
    margin-bottom: -0.3em;
    font-family: "Sacramento", cursive;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 13rem;
    color: rgb(247, 240, 235);
}

.big-title:hover {
    color:  #fff6e3;
    text-decoration: none;
    text-shadow:0px 0px 30px #ff5f7a;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;   
}

.box-0 h3{
    margin-left: 15%;
    /*letter-spacing: 0;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5rem;
    color: white;
}

.box-0 a {
    color:#b96969;
}

/*
second part
*/

.box-1 {
    height:100%;
    padding-top: 15%;
    font-family: 'Open Sans Condensed', sans-serif;
    /*background: rgb(231,137,204);
    background: linear-gradient(0deg, rgba(231,137,204,1) 0%, rgb(122, 63, 189)  100%);*/
}


.icon {
    width: 25px;
    display: inline-block;
    /*margin-right: -20%;*/
}

.btn-nav {
    background-color: rgb(247, 240, 235);
    color: rgb(87, 28, 46);
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.2rem;
    border-radius: 5px;
}

.btn-nav:hover {
    color:   #fff6e3;
    background-color:  #ff5f7a;
}

.btn-nav-title {
    font-size: 2rem;
}

.btn-nav-header {
    margin-right: 1%;
}

.nav {
    font-size: 0.5rem;
    margin-top: 50px;
    margin-bottom: 50px;

}

.card-text {
    background-color: rgb(255, 254, 251);
    border: none;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    box-shadow: 20px 20px #ff5f7a;
}

.gallery-card {
    border-radius: 5px;
    margin-bottom: 4%;
    box-shadow: 5px 5px #ff5f7a;
}

.tags {
    margin: auto;
    height: 28px;
    width: max-content;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: #ff5f7a;
    color:#fff6e3;
    font-weight: bold;
    border-radius: 5px;
    width: min-content;
    /*height: 10%;*/
    text-align: center;
    float: left;
    margin-right: 4px;
    margin-left: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 7px;
    font-size: 12px;
  }

  .row-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .col-grid {
    flex: 50%;
    padding: 0 4px;
  }
  
  .col-grid img {
    margin-top: 8px;
    max-width: 100%;
    vertical-align: middle;
  }